
*{
  background-color:lightgray;
}

.App{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(11, 11, 11);
  padding: 20px;
  height: 100%;
  justify-content:space-between;
}
h5{
  border-radius: 20%;
}
.moviebox{
  background-color: rgb(12, 12, 12,.2);
 border-radius: 5%;
 min-width: 100px;
 max-width: 300px;
 border-radius: 10px;
 margin: 2px;
 padding: 10px;
 
  
}
.rate{
  background-color: rgb(12, 12, 12,.00);
  color: rgb(11, 11, 11);
  border:none;
  display: flex;
  justify-content:flex-end;
  
 
}
#img{
  display: flex;
  margin: 0% 20%;
  text-align: center;
  border-radius: 5%;
  min-height: 180px;
  max-height: 300px;
  max-width: 180px;
}

